<p class="text-center text-muted">Sample app</p>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://localhost:3000');
  socket.on('connected', function(data){
    console.log('user connections!!!')
  })
  socket.on('news', function (data) {
    console.log(data);
  });
  var data= {conversationId: "demo11"}
  var message= { text: "hello ban" } 
  var chat = io.connect('http://localhost:3000/chat')
      , news = io.connect('http://localhost:3000/news');

    chat.on('connect', function () {
      chat.emit('hi!');
    });
    
    chat.on('aMessage', function(data){
      console.log(data)
    })

    chat.emit('joinConversation', data)
    chat.emit('sendMessageToConversation', data, message)

</script>
